@model ZhikeStreet.Models.VO.ArticleViewModel

@{
}

<div class="hidden-sm hidden-xs action-buttons text-center">
    <a class="green" data-original-title="修改" data-placement="bottom" data-rel="tooltip" onclick="ShowModal(1,@Model.Id,@Model.ArticleTypeId,'@Model.TagIds','@Model.Title','@Model.LinkUrl','@Model.Cover','@Model.Summary','@Model.Content','@Model.Description.Replace("\r",String.Empty).Replace("\n",String.Empty)')">
        <i class="ace-icon fa fa-pencil bigger-130"></i>
    </a>

    <a class="red" data-original-title="推荐" data-placement="bottom" data-rel="tooltip" onclick="Recommend(@Model.Id)">
        <i class="ace-icon fa fa-paper-plane-o bigger-130"></i>
    </a>

    <a class="red" data-method="delete" data-original-title="置顶" data-placement="bottom" data-rel="tooltip" onclick="Top(@Model.Id);">
        <i class="ace-icon fa fa-paper-plane-o bigger-130"></i>
    </a>

    <a class="red" data-method="delete" data-original-title="热门" data-placement="bottom" data-rel="tooltip" onclick="Hot(@Model.Id);">
        <i class="ace-icon fa fa-paper-plane-o bigger-130"></i>
    </a>

</div>