@using ZhikeStreet.Web.Helpers
@using ZhikeStreet.Models.DO;

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>智客坊</title>

    <!-- 使用url函数转换相关路径 -->
    <!-- 判断是否使用 CDN 加载基础资源-->
    <!-- 使用 CDN-->
    @*
        <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://theme.typecho.ptbird.cn/bootstrap-blog/usr/themes/postbird/css/style.css">
        <link rel="stylesheet" href="http://theme.typecho.ptbird.cn/bootstrap-blog/usr/themes/postbird/css/prism.css">
        <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="http://theme.typecho.ptbird.cn/bootstrap-blog/usr/themes/postbird/js/jquery.goup.min.js"></script>
        <script src="http://theme.typecho.ptbird.cn/bootstrap-blog/usr/themes/postbird/js/prism.js"></script>
        <script src="http://theme.typecho.ptbird.cn/bootstrap-blog/usr/themes/postbird/js/app.js"></script>*@

    <!-- 不使用 CDN-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/prism.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/assets/js/jquery-2.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.goup.min.js"></script>
    <script src="~/assets/js/prism.js"></script>
    <script src="~/assets/js/app.js"></script>

    <!--jquery tmpl-->
    <script src="~/scripts/jquery.tmpl.js"></script>
    <script src="~/scripts/helper.js"></script>

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- 通过自有函数输出HTML头部信息 -->
    <meta name="description" content="智客坊">
    <meta name="keywords" content="互联网,大数据,C#,blog,hadoop,elasticsearch">
    <meta name="generator" content="Typecho 1.1/17.10.30">
    <meta name="template" content="postbird">
    <link rel="pingback" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/action/xmlrpc">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/action/xmlrpc?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/action/xmlrpc?wlw">
    <link rel="alternate" type="application/rss+xml" title="BootstrapBlog 主题 » RSS 2.0" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/">
    <link rel="alternate" type="application/rdf+xml" title="BootstrapBlog 主题 » RSS 1.0" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/rss/">
    <link rel="alternate" type="application/atom+xml" title="BootstrapBlog 主题 » ATOM 1.0" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/feed/atom/">
    <!-- 用户自定义 stylesheet -->
    <!-- Custom styles for this template -->
    @*<link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">*@
    <link href="~/assets/css/footer.css" rel="stylesheet" />
    <style type="text/css">
        @("@")media (min-width: 768px) {
            .navbar-expand-md .navbar-nav .nav-link {
                padding-right: 0;
                padding-left: 0;
            }

            .dropdown-submenu {
                position: relative;
            }

                .dropdown-submenu a::after {
                    transform: rotate(-90deg);
                    position: absolute;
                    right: 3px;
                    top: 40%;
                }

                .dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu {
                    display: flex;
                    flex-direction: column;
                    position: absolute !important;
                    margin-top: -30px;
                    left: 100%;
                }

            @("@")media (max-width: 992px) {
                .dropdown-menu {
                    width: 50%;
                }

                    .dropdown-menu .dropdown-submenu {
                        width: auto;
                    }
            }
        }

        .topbar-user-avatar {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 16px;
}

    </style>


    <!--百度统计代码-->
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?371dbb47b1a31ec975ba6f3fb1ca27dd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</head>
<body class="no-skin">

    <![endif]-->
    @Html.Partial("_HeaderPartial")
    <div id="body">
        <div class="container main-wrapper">
            @RenderBody()
        </div>

    </div>

    @Html.Partial("_FooterPartial")

    <script type="text/javascript">
        $(function () {

            document.onkeyup = function (e) {
                var code = e.charCode || e.keyCode;
                if (code == 13) {
                    window.location = '/home/index?key=' + $('#globalSearch').val();
                }
            }

            $(".dropdown").mouseover(function () {
                $(this).addClass("open");
            });

            $(".dropdown").mouseleave(function () {
                $(this).removeClass("open");
            })
        })
    </script>
</body>
</html>
