@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

@model ZhikeStreet.Models.VO.ArticleViewModel


@{
    var passedTime = "1分钟前";
    if (Model != null)
    {
        var dur = DateTime.Now.Subtract(Model.CreateTime).TotalMinutes;
        if (dur < 60)
        {
            passedTime = $"{Math.Floor(Convert.ToDecimal(dur))}分钟前";
        }
        else if (dur >= 60 && dur < 1440)
        {
            passedTime = $"{Math.Floor(Convert.ToDecimal(dur / 60))}小时前";
        }
        else if (dur >= 1440 && dur < 43200)
        {
            passedTime = $"{Math.Floor(Convert.ToDecimal(dur / 1800)).ToString()}天前";
        }
        else if (dur >= 43200 && dur < 525600)
        {
            passedTime = $"{ Math.Floor(Convert.ToDecimal(dur / 43200))}月前";
        }
        else
        {
            passedTime = $"{ Math.Floor(Convert.ToDecimal(dur / 525600))}年前";
        }
    }

}

<style type="text/css">
    /*@@media (min-width: 1200px) {
        .bs-sidebar.affix-bottom,
        .bs-sidebar.affix {
            width: 213px;
        }
    }*/

    .post-thumb-image {
        width: 100%;
        height: 100px;
    }
</style>

<!--点赞-->
<link href="~/Scripts/widgets/praise/Css/demo.css" rel="stylesheet" />

@*<div class="pull-left">
        <div class="bs-sidebar hidden-print affix well" role="complementary">
            <ul class="nav bs-sidenav">
                <li><a href="#1-swagger">1 Swagger介绍dd</a></li>
                <li><a href="#12-tpl">1.2 TPL</a></li>
                <li><a href="#2-aspnet-core-swagger">2 在ASP.NET CORE 中的使用swagger</a></li>
            </ul>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-8">
        <!--article-->
        <div class="col-md-3">
            @*<div class="bs-sidebar hidden-print affix well" role="complementary">
                    <ul class="nav bs-sidenav">
                        <li><a href="#1-swagger">1 Swagger介绍</a></li>
                        <li><a href="#12-tpl">1.2 TPL</a></li>
                        <li><a href="#2-aspnet-core-swagger">2 在ASP.NET CORE 中的使用swagger</a></li>
                    </ul>
                </div>*@
        </div>
        <div class="col-md-9" role="main">

            @*<h2 id="aspnet-core-web-apiswagger">ASP.NET Core Web API中使用Swagger</h2>*@
            <h2 id="aspnet-core-web-apiswagger">@Model.Title</h2>
            <p>
                &nbsp;
                <a href="#" class="sender">@Model.Author</a>

                &nbsp;
                <i class="ace-icon fa fa-clock-o bigger-110 orange middle"></i>
                <span class="time grey">@passedTime</span>

            </p>
            <h3 id="_1">导航</h3>
            <ul>
                <li>Swagger介绍</li>
                <li>在ASP.NET CORE 中的使用swagger</li>
            </ul>
            <hr />
            <div>
                @Html.Raw(Model.Content)
            </div>


            @*<div class="post-keywords">
                <div itemprop="keywords" class="tags">标签: <span class="label label-default"> @Model.Tags</span></div>

            </div>*@


            <div class="well well-lg">
                <p>标签:<a> @Model.Tags</a></p>
                <p>本文链接：<a style="color:#15A7F0;" href="@Model.LinkUrl">@Model.Title</a></p>
                <p>转载请注明文章原始出处 !</p>
            </div>

            <!--点赞-->
            <div class="clearfix">
                <div class="praise">
                    <span id="praise">
                        <img src="~/Scripts/widgets/praise/Images/zan.png" />
                    </span>
                    <span id="praise-txt">@Model.LikeNum</span>
                    <span id="add-num"><em>+1</em></span>
                </div>
            </div>

            <!--分享-->
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
            <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

            <!--打赏-->
            <div width="100%" align="center">
                @*<div name="dashmain" id="dash-main-id-87a66c" class="dash-main-3 87a66c-2"></div>
                    <script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>*@
                <p>@*<a href="https://www.dashangcloud.com/static/ds-2.0.js" target="_blank"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.dashangcloud.com/static/ds-logo-1.2-64.png" alt="云打赏" width="64" height="64"></a>*@</p>
                <div name="dashmain" id="dash-main-id-87a66c" class="dash-main-2 87a66c-2"></div>
                <script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>
            </div>


            <ul class="post-near">
                @{
                    if (Model.Previous != null)
                    {
                        <li>上一篇: <a href="@Model.Previous.LinkUrl" title="@Model.Previous.Title">@Model.Previous.Title</a></li>
                    }
                    if (Model.Next != null)
                    {
                        <li>下一篇: <a href="@Model.Next.LinkUrl" title="@Model.Next.Title">@Model.Next.Title</a></li>
                    }
                }
            </ul>

        </div>

    </div>

    <div class="col-md-4">
        <!--recommamd articles-->
        <section class="widget pull-right">
            <div class="module-head">相关文章</div>
            <ul class="list-group">
                @if (this.Model != null)
                {
                    foreach (ZhikeStreet.Models.DO.Article item in this.Model.Relatives)
                    {
                        if (item == null)
                        {
                            continue;
                        }

                        <li class="list-group-item comment-item">
                            <div class="row">
                                <div class="col-md-6 ">
                                    @if (String.IsNullOrEmpty(item.LinkUrl))
                                    {
                                        <a href="/home/detail/@item.Id">
                                            <img src="@item.Cover" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@item.LinkUrl">
                                            <img src="@item.Cover" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                                        </a>
                                    }
                                </div>
                                <div class="col-md-6">
                                    @if (!String.IsNullOrEmpty(item.LinkUrl))
                                    {
                                        <a href="@item.LinkUrl">
                                            <div class="post-content" itemprop="articleBody">
                                                <p>@item.Title</p>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/home/detail/@item.Id">
                                            <div class="post-content" itemprop="articleBody">
                                                <p>@item.Title</p>
                                            </div>
                                        </a>

                                    }

                                </div>

                            </div>
                        </li>
                    }
                }
            </ul>
        </section>

    </div>
</div>

<script type="text/javascript">

    /*author:Romey
    * 动态点赞
    * 此效果包含css3，部分浏览器不兼容（如：IE10以下的版本）
    */
    $(function () {
        $("#praise").click(function () {
            var praise_img = $("#praise-img");
            var text_box = $("#add-num");
            var praise_txt = $("#praise-txt");
            var num = parseInt(praise_txt.text());
            if (praise_img.attr("src") == ("~/Scripts/widgets/praise/Images/yizan.png")) {
                $(this).html("<img src='/Scripts/widgets/praise/Images/zan.png' id='praise-img' class='animation' />");
                praise_txt.removeClass("hover");
                text_box.show().html("<em class='add-animation'>-1</em>");
                $(".add-animation").removeClass("hover");
                num -= 1;
                praise_txt.text(num)
            } else {
                $(this).html("<img src='/Scripts/widgets/praise/Images/yizan.png' id='praise-img' class='animation' />");
                praise_txt.addClass("hover");
                text_box.show().html("<em class='add-animation'>+1</em>");
                $(".add-animation").addClass("hover");
                num += 1;
                praise_txt.text(num)
            }

            praise();

        });
    })

    function praise() {
        //var id = $('#txtId').val();
        var id = '@Model.Id';
        $.ajax({
            url: "/Home/Praise",
            type: "POST",
            data: {
                "id": id,
            },
            dataType: "json",
            beforeSend: function (jqXHR) {
                //loadingNo();
                //jqXHR.setRequestHeader('secretKey', key);
                //jqXHR.setRequestHeader('appKey', 'appKey');
            },
            success: function (data) {
                if (!data.Result) {
                    alert(data.Notice);
                }
            },
            error: function (e) {
                alert("数据访问失败")
            }
        });
    }

</script>