@model ZhikeStreet.Models.VO.ArticleViewModel

<style type="text/css">
    .module-head {
        color: #222;
        padding: 0;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
    }
</style>

<link href="~/Scripts/widgets/praise/Css/demo.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8" id="post-item" role="main">
        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name headline"><a itemprop="url" href="/home/detail/@Model.Id">@Model.Title</a></h1>
            <ul class="post-meta">
                <li itemprop="author" itemscope="" itemtype="http://schema.org/Person">作者: <a itemprop="name" href="#" rel="author">@Model.Author</a></li>
                <li>时间: <time datetime="@Model.CreateTime" itemprop="datePublished">@Model.CreateTime</time></li>
                <li>分类: <a href="#">@Model.ArticleTypeName</a></li>
            </ul>
            <div class="post-content markdown-body" itemprop="articleBody">
                @Html.Raw(Model.Content)
            </div>
            <div class="post-keywords">
                <div itemprop="keywords" class="tags">标签： @Model.Tags</div>
            </div>
            <div class="post-well" style="background-color:#f6f6f6;padding:10px;margin-bottom: 10px;white-space: nowrap;">
                @*<p>文章版权：<a style="color:#15A7F0;" href="@Model.LinkUrl">智客街 </a></p>*@
                <p>本文链接：<a style="color:#15A7F0;" href="@Model.LinkUrl">《@Model.Title》</a></p>
                <p>转载请注明文章原始出处 !</p>
                <input hidden="hidden" id="txtId" value="@Model.Id" />
            </div>
        </article>


        <!--点赞-->
        <div class="clearfix">
            <div class="praise">
                <span id="praise">
                    <img src="~/Scripts/widgets/praise/Images/zan.png" />
                </span>
                <span id="praise-txt">@Model.LikeNum</span>
                <span id="add-num"><em>+1</em></span>
            </div>
        </div>

        <!--分享-->
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

        <!--打赏-->
        <div width="100%" align="center">
            @*<div name="dashmain" id="dash-main-id-87a66c" class="dash-main-3 87a66c-2"></div>
            <script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>*@
            <p>@*<a href="https://www.dashangcloud.com/static/ds-2.0.js" target="_blank"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.dashangcloud.com/static/ds-logo-1.2-64.png" alt="云打赏" width="64" height="64"></a>*@</p>
            <div name="dashmain" id="dash-main-id-87a66c" class="dash-main-2 87a66c-2"></div>
            <script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>
        </div>


        <ul class="post-near">
            @{
                if (Model.Previous != null)
                {
                    <li>上一篇: <a href="@Model.Previous.LinkUrl" title="@Model.Previous.Title">@Model.Previous.Title</a></li>
                }
                if (Model.Next != null)
                {
                    <li>下一篇: <a href="@Model.Next.LinkUrl" title="@Model.Next.Title">@Model.Next.Title</a></li>
                }
            }
        </ul>
        <div class="row">
            <div class="col-md-12">
                @*<div id="comments" class=" comments-wrapper">
                        <p>已有 17 条评论</p>
                        <ol class="comment-list">
                            <li id="li-comment-52" class="comment-body comment-parent comment-odd comment-by-author">
                                <div id="comment-52" class="comment-item">
                                    <div class="comment-author">
                                        <img class="avatar" src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/df84adc4bafe5998d5c3da0af4b58818.png" alt="admin" width="40" height="40">                <span class="fn">
                                            <a href="http://www.ptbird.cn/" rel="external nofollow">admin</a>            <span class="author-after-text">[作者]</span>
                                        </span>
                                    </div>
                                    <div class="comment-meta">
                                        <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2#comment-52">2018-07-15 21:39</a>
                                    </div>
                                    <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2?replyTo=52#respond-post-21" rel="nofollow" onclick="return TypechoComment.reply(&#39;comment-52&#39;, 52);">回复</a></span>
                                    <div class="comment-content">
                                        <p>对于博客主题的测试回复</p>
                                    </div>
                                </div>
                                <div class="comment-children">
                                    <ol class="comment-list">
                                        <li id="li-comment-53" class="comment-body comment-child comment-level-odd comment-odd comment-by-author">
                                            <div id="comment-53" class="comment-item">
                                                <div class="comment-author">
                                                    <img class="avatar" src="./基于Bootstrap4的 响应式 typecho 博客主题 - BootstrapBlog 主题_files/df84adc4bafe5998d5c3da0af4b58818.png" alt="admin" width="40" height="40">                <span class="fn">
                                                        <a href="http://www.ptbird.cn/" rel="external nofollow">admin</a>            <span class="author-after-text">[作者]</span>
                                                    </span>
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2#comment-53">2018-07-15 21:39</a>
                                                </div>
                                                <span class="comment-reply"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2?replyTo=53#respond-post-21" rel="nofollow" onclick="return TypechoComment.reply(&#39;comment-53&#39;, 53);">回复</a></span>
                                                <div class="comment-content">
                                                    <p>二级回复</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                        </ol>                <nav aria-label="Page navigation text-center">
                            <ul class="pagination"><li class="prev"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comments">«</a></li><li><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-1#comments">1</a></li><li class="active"><a href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment-page-2#comments">2</a></li></ul>
                        </nav>

                        <div id="respond-post-21" class="respond">
                            <div class="cancel-comment-reply">
                                <a id="cancel-comment-reply-link" href="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/#respond-post-21" rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>
                            </div>
                            <div class="add-comments">
                                <h4 id="response">添加新评论</h4>
                                <form method="post" action="http://theme.typecho.ptbird.cn/bootstrap-blog/index.php/archives/21/comment" id="comment-form" role="form" class="form">
                                    <div class="form-group">
                                        <label for="author" class="required">称呼</label>
                                        <input type="text" name="author" id="author" class="text form-control" value="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="mail" class="required">Email</label>
                                        <input type="email" name="mail" id="mail" class="text form-control" value="" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">网站</label>
                                        <input type="url" name="url" id="url" class="text form-control" placeholder="http://" value="">
                                    </div>
                                    <p>
                                        <label for="textarea" class="required">内容</label>
                                        <textarea rows="8" cols="50" name="text" id="textarea" class="textarea form-control" required=""></textarea>
                                    </p>
                                    <p>
                                        <button type="submit" class="submit btn btn-info ">提交评论</button>
                                    </p>
                                    <input type="hidden" name="_" value="112b73e9df89a58effd7328037b8f865">
                                </form>
                            </div>
                        </div>
                    </div>*@
                评论暂时关闭！
            </div>
        </div>

    </div><!-- end #main-->
    <div class="col-md-4 kit-hidden-tb" id="secondary" role="complementary">

        <!-- 边栏显示最近文章，默认注释掉 -->
        <!-- 边栏显示最近回复，默认开启 -->
        <!-- 边栏显示最近文章，默认注释掉 -->
        <!-- 边栏显示最近回复，默认开启 -->
        <section class="widget">
            <div class="module-head">相关文章</div>
            <ul class="list-group">
                @if (this.Model != null)
                {
                    foreach (ZhikeStreet.Models.DO.Article item in this.Model.Relatives)
                    {
                        if (item == null)
                        {
                            continue;
                        }

                        <li class="list-group-item comment-item">
                            <div class="row">
                                <div class="col-md-4 ">
                                    @if (String.IsNullOrEmpty(item.LinkUrl))
                                    {
                                        <a href="/home/detail/@item.Id">
                                            <img src="@item.Cover" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@item.LinkUrl">
                                            <img src="@item.Cover" alt="文章缩略图" class="post-thumb-image img-thumbnail">
                                        </a>
                                    }
                                </div>
                                <div class="col-md-8">
                                    @if (!String.IsNullOrEmpty(item.LinkUrl))
                                    {
                                        <a href="@item.LinkUrl">
                                            <div class="post-content" itemprop="articleBody">
                                                <p>@item.Title</p>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/home/detail/@item.Id">
                                            <div class="post-content" itemprop="articleBody">
                                                <p>@item.Title</p>
                                            </div>
                                        </a>

                                    }

                                </div>

                            </div>
                        </li>
                    }
                }
            </ul>
        </section>
    </div><!-- end #sidebar -->
    <a class="to-top" style="z-index: 1200; cursor: pointer; display: none; position: fixed; right: 15px; bottom: 30px;">
        <img src="~/assets/img/top.svg" alt="返回顶部" title="返回顶部">
    </a>
    <!-- 用户自定义脚本内容 -->
</div>

<script type="text/javascript">

    /*author:Romey
    * 动态点赞
    * 此效果包含css3，部分浏览器不兼容（如：IE10以下的版本）
    */
    $(function () {
        $("#praise").click(function () {
            var praise_img = $("#praise-img");
            var text_box = $("#add-num");
            var praise_txt = $("#praise-txt");
            var num = parseInt(praise_txt.text());
            if (praise_img.attr("src") == ("~/Scripts/widgets/praise/Images/yizan.png")) {
                $(this).html("<img src='/Scripts/widgets/praise/Images/zan.png' id='praise-img' class='animation' />");
                praise_txt.removeClass("hover");
                text_box.show().html("<em class='add-animation'>-1</em>");
                $(".add-animation").removeClass("hover");
                num -= 1;
                praise_txt.text(num)
            } else {
                $(this).html("<img src='/Scripts/widgets/praise/Images/yizan.png' id='praise-img' class='animation' />");
                praise_txt.addClass("hover");
                text_box.show().html("<em class='add-animation'>+1</em>");
                $(".add-animation").addClass("hover");
                num += 1;
                praise_txt.text(num)
            }

            praise();

        });
    })

    function praise() {
        var id = $('#txtId').val();
        $.ajax({
            url: "/Home/Praise",
            type: "POST",
            data: {
                "id": id,
            },
            dataType: "json",
            beforeSend: function (jqXHR) {
                //loadingNo();
                //jqXHR.setRequestHeader('secretKey', key);
                //jqXHR.setRequestHeader('appKey', 'appKey');
            },
            success: function (data) {
                if (!data.Result) {
                    alert(data.Notice);
                }
            },
            error: function (e) {
                alert("数据访问失败")
            }
        });
    }

</script>
